.navbar {
  padding: 0.5rem 1rem; /* Уменьшаем внутренние отступы */
}

.navbar-brand {
  font-size: 1.25rem; /* Уменьшаем размер логотипа */
}

.nav-link {
  font-size: 0.9rem; /* Уменьшаем размер текста ссылок */
  padding: 0.5rem 0.75rem; /* Уменьшаем отступы у ссылок */
}

.btn-sm {
  font-size: 0.85rem; /* Уменьшаем размер текста кнопки */
  padding: 0.25rem 0.5rem; /* Уменьшаем отступы кнопки */
}